* {
	box-sizing: border-box;
	margin: 0;
	border: 0;
}

:root {
	--gray: #535353;
	--dark-purple: #69007A;
	--light-yellow: #FFE5A6;
	--merriweather: 'Merriweather', serif;
	--fs-header-on-desktop: 48px;
	--fs-header-on-mobile: 32px;
	--fs-header-two-desktop: 36px;
	--fs-header-two-mobile: 24px;
	--fs-description-desktop: 24px;
	--fs-description-mobile: 20px;
	scroll-padding-top: 90px;
	scroll-behavior: smooth;
}

h1 {
	font-size: var(--fs-header-on-desktop);
	font-family: var(--merriweather);
}

h2 {
	font-size: var(--fs-header-two-desktop);
	font-family: var(--merriweather);
}

.description {
	font-size: var(--fs-description-desktop);
	font-family: var(--merriweather);
	text-align: justify;
	line-height: 1.5;
}

.button, .button_conversion {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	line-height: normal;
}

.button_conversion {
	background: var(--dark-purple);
	color: var(--light-yellow);
	border: 5px solid var(--light-yellow);
	padding: 10px 10px;
}

.button_conversion:hover {
	background: var(--light-yellow);
	color: var(--dark-purple);
	border-color: var(--dark-purple);
}

.navbar-itens, .hero, .carousel, .conversion, .contact-itens {
	max-width: 1400px;
	margin: auto;
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: var(--fs-header-on-mobile);
	}
	h2 {
		font-size: var(--fs-header-two-mobile);
	}
	.description {
		font-size: var(--fs-description-mobile);
	}
}


/* =========================== NAVBAR ============================== */

.navbar {
	background: var(--dark-purple);
	z-index: 1;
	position: fixed;
	width: 100%;
	padding: 0 20px;
}

.navbar-itens {
	display: flex;
	align-items: center;
	justify-content: right;
}

.navbar .logo {
	flex: min-content;
}

.navbar .logo img:hover{
	filter: brightness(120%);
}

.navbar_buttons .button {
	background: var(--dark-purple);
	color: white;
	border: 5px solid white;
	width: 180px;
	margin: 0 10px;
	padding: 10px 0;
}

.navbar_buttons .button:hover {
	color: var(--dark-purple);
	background: white;
}

.navbar .menu {
	display: none;
	margin-right: 10px;
	text-align: right;
}

#burguer:hover {
	box-shadow: 0 0 5px white;
	cursor: pointer;
}

#burguer_itens {
	display: none;
	width: 320px;
	padding: 10px;
	position: absolute;
	top: 95px;
	list-style-type: none;
	border: 1px solid var(--dark-purple);
	background: var(--light-yellow);
	animation: menu_animation 0.2s forwards;
}

#burguer_itens li {
	border-bottom: 3px solid var(--dark-purple);
	font-size: var(--fs-header-two-mobile);
	padding: 15px 0;
}

#burguer_itens li a {
	text-decoration: none;
	font-weight: bold;
	padding-right: 15px;
	color: var(--dark-purple);
}

#burguer_itens li:hover  {
	background: var(--dark-purple);
}

#burguer_itens li:hover a {
	color: var(--light-yellow);
}

@media screen and (max-width: 1024px) {
	.navbar .button {
		width: 160px;
	}
}

@media screen and (max-width: 715px) {
	.navbar-itens .menu {
		display: block;
	}
	.navbar-itens .navbar_buttons {
		display: none;
	}
}

@keyframes menu_animation {
	from {
		right: -340px;
	}
	to {
		right: 4px;
	}
}

/* ============================= HERO ============================== */

.hero {
	padding: 160px 100px 70px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.copy {
	margin-right: 10%;
	flex: 50%;
}

.copy h2 {
	color: var(--gray);
}

.copy .description {
	margin: 60px 0;
}

.hero_img {
	flex: 40%;
	text-align: right;
}

.hero_img img {
	width: 100%;
	max-width: 400px;
}

@media screen and (max-width: 1024px) {
	.copy {
		margin-right: 5%;
		flex: 50%;
	}
	.hero_img {
		flex: 45%;
	}
}

@media screen and (max-width: 715px) {
	.hero {
		flex-direction: column;
		padding: 140px 5% 50px 5%;
	}
	.copy, .copy .description {
		text-align: center;
	}
	.copy, .copy h1, .copy h2, .copy .description {
		margin: 0 0 20px;
	}
	.hero_img {
		width: 40%;
		max-width: 200px;
	}
}

/* ========================== CAROUSEL ============================= */

.about {
	padding: 70px 20px 70px;
	text-align: center;
	background-image: url(assets/fundo_estrelado_1440.jpg);
	background-size: cover;
	color: white;
}

.about h2 {
	margin-bottom: 40px;
}

.slide {
	overflow: auto;
	padding: 25px;
	margin: 30px;
	margin-bottom: 70px;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}

.back_slide {
	width: 40%;
	background: var(--light-yellow);
	border-radius: 15px;
	box-shadow: 0 0 20px var(--light-yellow);
}

.back_slide img {
	width: 80%;
	margin: 10%;
}

.text_slide {
	display: inline-block;
	width: 50%;
}

/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 16px;
	font-weight: bold;
	font-size: 60px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 0.8s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@media screen and (max-width: 1440px) {
	.text_slide img {
		width: 50px;
	}
}

@media screen and (max-width: 1024px) {
	.text_slide img {
		width: 40px;
	}
	.carousel .description {
		font-size: 18px;
	}
	.prev, .next {
		font-size: 40px;
	}
}

@media screen and (max-width: 715px) {
	.about {
		padding: 50px 10px 50px;
	}
	.about h2 {
		margin: 0 20px 10px;
	}
	.slide {
		margin: 0 30px;
		padding: 40px 10px;
		text-align: center;
	}
	.back_slide {
		float: none;
		width: 70%;
		margin: 0 15% 40px;
	}
	.text_slide {
		display: block;
		width: 100%;
		margin: 0;
	}
	.text_slide img {
		display: none;
	}
	.text_slide .description {
		display: inline-block;
		width: 100%;
		text-align: left;
		font-size: 18px;
	}
	.prev, .next {
		font-size: 30px;
		margin-left: -0;
		margin-right: 0;
	}
}

/* ========================== CONVERSION =========================== */

.conversion {
	padding: 120px;
	text-align: center;
}

.conversion .title {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 70px;
}

.conversion .title h2 {
	flex: 70%;
}

.conversion .title .emoji {
	display: inline-block;
	font-size: 98px;
	flex: 10%;
}

.conversion .description {
	text-align: center;
	margin-bottom: 70px;
	line-height: 1.8;
}

.conversion .button_conversion {
	width: 180px;
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
	.conversion {
		padding: 70px;
	}
	.conversion .title .emoji {
		font-size: 52px;
	}
}

@media screen and (max-width: 715px) {
	.conversion {
		padding: 50px 5%;
	}
	.conversion .title .emoji {
		font-size: 24px;
	}.conversion .title, .conversion .description {
		margin-bottom: 30px;
	}
	.conversion .button_conversion {
		margin-bottom: 0;
	}
}

/* ============================ CONTACT ============================ */

.contact {
	background-image: url(assets/ceu_1440.jpg);
	background-size: cover;
	padding: 70px 20px;
}

.contact-itens {
	display: flex;
	flex-wrap: row wrap;
	align-items: center;
	color: var(--light-yellow);
}

.contact-itens .title {
	text-align: center;
	flex: 35%;
	margin-right: 5%;
}

.contact-itens .forms {
	flex: 60%;
}

.legend {
	text-align: center;
}

.contact-itens .forms label, .legend {
	width: 100%;
	font-weight: bold;
}

.contact-itens .forms input {
	margin-bottom: 20px;
	width: 100%;
	outline: none;
	border: 1px solid var(--light-yellow);
	background: none;
	color: var(--light-yellow);
	padding: 5px 10px;
}

.contact-itens .forms textarea {
	resize: none;
	width: 100%;
	outline: none;
	color: var(--light-yellow);
	border: 1px solid var(--light-yellow);
	background: none;
	margin-bottom: 20px;
	padding: 5px 10px;
}

.contact-itens .forms textarea::placeholder {
	font-size: 16px;
}

.contact-itens .forms input:hover, .contact .forms textarea:hover {
	backdrop-filter: brightness(110%);
	-webkit-backdrop-filter: brightness(110%);
}

.form_button {
	float: right;
	padding: 10px 50px;
	text-align: center;
	font-size: 20px;
	background: var(--dark-purple);
	color: var(--light-yellow);
	border: none;
	border-radius: 5px;
}

.form_button:hover {
	background: var(--light-yellow);
	color: var(--dark-purple);
}

.contact-itens .forms textarea:focus, .contact .forms input:focus {
	border-width: 3px;
}

@media screen and (max-width: 715px) {
	.contact {
		padding: 50px 5%;
	}
	.contact-itens {
		flex-direction: column;
		justify-content: center;
		gap: 30px;
	}
	.contact-itens .title {
		flex: 100%;
		margin: 0;
		padding: 0;
	}
	.contact-itens .forms {
		flex: 100%;
		margin: 0;
	}
}

/* ============================= FOOTER =========================== */

.footer {
	background: var(--light-yellow);
	padding-right: 15%;
	text-align: right;
	overflow: auto;
}

.footer .description {
	display: inline-block;
	color: var(--dark-purple);
	margin: 25px 0;
}

.footer img {
	margin-left: 45px;
	margin-top: 10px;
	float: right;
}

.footer img:hover {
	filter: brightness(160%);
}

@media screen and (max-width: 715px) {
	.footer {
		padding: 30px 5%;
		text-align: center;
	}
	.footer .description {
		display: block;
		margin: 0;
		text-align: center;
	}
	.footer img {
		margin: 10px 10px 0;
		float: none;
	}
}
