* {
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

/* === TAGS E CLASSES PADRÃO ===*/

body {
	margin: 0;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 42px;
}

.description {
	font-size: 32px;
	text-align: justify;
	line-height: 1.5;
}

.button {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
}

.button_conversion {
	display: inline-block;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	padding: 10px 10px;
	background: #69007A;
	border: 5px solid #FFE5A6;
	color: #FFE5A6;
}

.button_conversion:hover {
	color: #69007A;
	background: #FFE5A6;
	border: 5px solid #69007A;
}

/* === NAVBAR ===*/

.navbar {
	z-index: 1;
	background: #69007A;
	display: flex;
	position: fixed;
	width: 100%;
	align-items: center;
}

.navbar .logo {
	flex: 10%;
	text-align: left;
	margin-left: 10%;
}

.navbar .logo img:hover{
	filter: brightness(120%);
}

.navbar .menu {
	display: none;
	flex: 68%;
	text-align: right;
	margin-right: 12%;
}

.navbar .menu .burguer:hover {
	box-shadow: 0 0 5px white;
	cursor: pointer;
}

.m_burguer {
	display: none;
	width: 340px;
	padding: 10px;
	position: absolute;
	top: 95px;
	list-style-type: none;
	border: 1px solid #69007A;
	background: #FFE5A6;
	animation: menu_animation 0.2s forwards;
}

.m_burguer li {
	border-bottom: 3px solid #69007A;
	font-size: 24px;
	padding: 15px 0;
}

.m_burguer li a {
	text-decoration: none;
	padding-right: 15px;
	color: #69007A;
}

.m_burguer li:hover  {
	background: #69007A;
}

.m_burguer li:hover a {
	color: #FFE5A6;
}

.navbar .navbar_buttons {
	flex: 70%;
	text-align: right;
	margin-right: 10%;
}

.navbar_buttons .button {
	padding: 10px 0;
	background: #69007A;
	width: 180px;
	margin: 0 10px;
	border: 5px solid white;
	color: white;
}

.navbar_buttons .button:hover {
	color: #69007A;
	background: white;
	border: 5px solid #69007A;
}

/* === HERO ===*/

.hero {
	padding: 150px 10% 5% 10%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.copy {
	max-width: 700px;
	margin: 5%;
	flex: 40%;
}

.copy h2 {
	color: #535353;
}

.copy h1, .copy h2{
	margin: 0 0;
}

.copy .description {
	margin: 60px 0;
}

.hero_img {
	margin: 0 5%;
	flex: 20%;
}

.hero_img img {
	max-width: 100%;
}

/* === CAROUSEL ===*/

.carousel {
	padding: 40px 10% 100px;
	text-align: center;
	background-image: url(imagens/fundo_estrelado_1440.jpg);
	background-size: cover;
}

.carousel h2 {
	color: white;
	margin-bottom: 20px;
}

.slide {
	overflow: auto;
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
}

.back_slide {
	width: 40%;
	margin: 10px;
	background: #FFE5A6;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	box-shadow: 0 0 20px #FFE5A6;
}

.back_slide img {
	width: 90%;
	margin: 5%;
}

.text_slide {
	display: inline-block;
	width: 55%;
}

.carousel .description {
	color: white;
}


/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 60px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #717171;
}
/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 0.8s;
}
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}


/* === CONVERSION === */

.conversion {
	padding: 40px 20%;
	text-align: center;
}

.conversion .title {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.conversion .title h2 {
	flex: 60%;
}

.conversion .title .emoji {
	display: inline-block;
	font-size: 94px;
	flex: 10%;
}

.conversion .description {
	text-align: center;
}

.conversion .button_conversion {
	width: 180px;
	margin: 60px;
}

/* === CONTACT === */

.contact {
	background-image: url(imagens/ceu_1440.jpg);
	background-size: cover;
	padding: 30px 10%;
	display: flex;
	flex-wrap: row wrap;
	align-items: center;
}

.contact .title {
	color: #FFE5A6;
	text-align: center;
	flex: 35%;
	margin-right: 5%;
	padding: 2%;
}

.contact .forms {
	flex: 50%;
}

.legend {
	text-align: center;
}

.contact .forms label, .legend {
	width: 100%;
	color: #FFE5A6;
	font-weight: bold;
}

.contact .forms input {
	margin-bottom: 20px;
	width: 100%;
	outline: none;
	color: #FFE5A6;
	border: 1px solid #FFE5A6;
	background: none;
	padding: 0 8px;
}

.contact .forms textarea {
	resize: none;
	width: 100%;
	outline: none;
	color: #FFE5A6;
	border: 1px solid #FFE5A6;
	background: none;
	margin-bottom: 20px;
	padding: 0 8px;
}

.contact .forms textarea::placeholder {
	font-size: 16px;
}

.contact .forms input:hover, .contact .forms textarea:hover {
	backdrop-filter: brightness(110%);
	-webkit-backdrop-filter: brightness(110%);
}

.form_button {
	float: right;
	padding: 10px 50px;
	text-align: center;
	font-size: 20px;
	background: #69007A;
	color: #FFE5A6;
	border: none;
	border-radius: 5px;
}

.form_button:hover {
	background: #FFE5A6;
	color: #69007A;
}

.contact .forms textarea:focus, .contact .forms input:focus {
	border-width: 3px;
}

/* === FOOTER === */

.footer {
	background: #FFE5A6;
	padding-right: 20%;
	text-align: right;
	overflow: auto;
}

.footer .description {
	display: inline-block;
	color: #69007A;
	margin: 30px;
}

.footer img {
	margin-left: 20px;
	margin-top: 20px;
	float: right;
}

.footer img:hover {
	filter: brightness(160%);
}

/* === MEDIA QUERIES === */

@media screen and (max-width: 1440px) {
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 36px;
	}
	.description {
		font-size: 24px;
	}
	.conversion .button_conversion {
		margin: 30px;
	}
	.text_slide img {
		width: 50px;
	}
}

@media screen and (max-width: 1024px) {
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 24px;
	}
	.description {
		font-size: 20px;
	}
	.navbar .button {
		width: 120px;
		font-size: 18px;
	}
	.prev, .next {
		font-size: 40px;
	}
	.conversion .title .emoji {
		display: inline-block;
		font-size: 24px;
	}
	.text_slide img {
		width: 40px;
	}
	.carousel .description {
		font-size: 18px;
	}
}

@media screen and (max-width: 715px) {
	.navbar .menu {
		display: block;
	}
	.navbar .navbar_buttons {
		display: none;
	}
	.hero {
		flex-direction: column;
		padding: 100px 5% 10% 5%;
	}
	.copy h1, .copy h2{
		margin: 30px 0;
	}
	.copy, .copy .description {
		text-align: center;
		margin: 30px 0;
	}
	.hero_img {
		width: 40%;
		max-width: 200px;
	}
	.carousel {
		padding: 30px 2%;
	}
	.back_slide {
		float: none;
		margin: 0 15% 30px 15%;
		width: 70%;
	}
	.text_slide {
		display: block;
		width: 100%;
		margin: 0;
	}
	.text_slide img {
		display: none;
	}
	.text_slide .description {
		display: inline-block;
		width: 100%;
		text-align: left;
		font-size: 18px;
	}
	.prev, .next {
		font-size: 30px;
		margin-left: -0;
		margin-right: 0;
	}
	.conversion {
		padding: 50px 5%;
		text-align: center;
	}
	.contact {
		padding: 30px 5%;
		flex-direction: column;
		justify-content: center;
	}
	.contact .title {
		flex: 90%;
		margin-right: 0;
		padding: 0;
	}
	.contact .forms {
		flex: 90%;
	}
	.footer {
		padding: 5%;
		text-align: center;
		overflow: auto;
	}
	.footer .description {
		display: block;
		margin: 0;
		text-align: center;
	}
	.footer img {
		margin: 10px 5px;
		float: none;
	}
}

@keyframes menu_animation {
	from {
		right: -340px;
	}
	to {
		right: 4px;
	}
}
